/* Display For Tablets */

#hours-and-location .map {
    flex: 1;
}

.header-container header {
    order: -1;
}

/* enable mobile menu */

/* Enable mobile menu */

.menu-wrap {
    display: inline-block;
}

#navbar {
    display: none;
}

/* Display change for larger Cell Phones */

@media(max-width: 600px) {
    #hours-and-location {
        flex-direction: column;
    }
    #hours-and-location .map {
        height: 250px;
    }
    footer .contactus {
        display: none;
    }
    footer .phone {
        display: inline;
    }
    header a .logo {
        height: 13rem;
        margin: .5rem;
    }
    .header-container #topbar li:last-child {
        display: none;
    }
}

@media(max-width: 512px) {
    #gallery .image {
        margin: 2px 0;
    }
}

/* Very small phones */

@media(max-width: 320px) {
    footer div {
        padding: 0 1.2rem 0 1.2rem;
    }
    footer a i {
        padding-top: 1rem;
        font-size: 2.8rem;
    }
}